# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
.env
.env.*
.vs

addons/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/
pip-wheel-metadata/
MANIFEST

# Test and coverage data
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Type checker caches
.pyre/
.hypothesis/

# Logs and local configuration
*.log
*.local

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
